@import '../../styles/utils/vars';
@import '../../styles/utils/mixin';


.small-button{
   display: flex;
   justify-content: center;
   align-items: center;
   
    padding: 12px;

    border:none;
    border-radius: 12px;

    background-color: $btn-primary-bg;

    transition: $transition;

    cursor: pointer;

    &:hover,&:focus{
        background-color: $btn-primary-accent-bg;
    }
    &:active{
        background-color: $btn-primary-active-bg;
    }

    &:disabled{
        background-color: $btn-primary-disable-bg;
        color: $main-text;
        cursor: default;
    }

    &.second-btn{
        background-color: $btn-secondary-text;
    }
    &.second-btn:hover,&.second-btn:focus{
        background-color: $btn-primary-accent-bg;
    }
    &.second-btn:active{
        background-color: $btn-primary-active-bg;
    }

    &.btn-plus{
        background-color: $btn-primary-disable-bg;
    }
    &.btn-plus:hover,&.btn-plus:focus{
        background-color: $btn-primary-accent-bg;
    }
    &.btn-plus:active{
        background-color: $btn-primary-active-bg;
    }

}